{% extends 'KabasisWebApp/base.html' %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="navbar-nav w-100">
      <a  class="nav-link active" href="#" id="btnFactor">Ver grafico por factor</a>
      <a  class="nav-link mx-1" href="#" id="btnDimensiones">Ver grafico por dimensiones</a>
      <a  class="nav-link mx-1" href="#" id="btnEstado">Datos Alumnos</a>
    </div>
  </div>
</nav>


{% if promedio_actitud == None %}
<div class="alert alert-warning" role="alert">
  Nadie de su organización ha completado el test inicial.
</div>
{% else %}
<div class="graficoLinea">
  <canvas id="myHorizontalBarChart2"></canvas>
  <!-- Botones utilizando Bootstrap -->
</div>

<div class="row contenedorPie">
  <div class="col-md-12 col-xl-3 graficoPie">
    <canvas id="myChart1"></canvas>
  </div>
  <div class="col-md-12 col-xl-3 graficoPie">
    
    <canvas id="myChart2"></canvas>
  </div>
  <div class="col-md-12 col-xl-3 graficoPie">
    <canvas id="myChart3"></canvas>
  </div>
  <div class="col-md-12 col-xl-3 graficoPie">
    <canvas id="myChart4"></canvas>
  </div>
</div>



{% endif %}

<div>
  <hr>
</div>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>

  <script>
    let myChart = null;


    // Inicializa myChart como null para comprobar si el gráfico ya fue creado
    let resultados = JSON.parse('{{ resultados_json|safe }}');

    
    function actualizarGrafico(data) {


      document.querySelector('.graficoLinea').style.display = 'block';
      document.querySelector('.contenedorPie').style.display = 'none';
      // Si ya existe un gráfico, lo destruimos
      if (myChart !== null) {
        myChart.destroy();

      }
    
      // Crea un nuevo gráfico con el nuevo conjunto de datos
      const ctx = document.getElementById('myHorizontalBarChart2').getContext('2d');
      myChart = new Chart(ctx, {
        type: 'bar',
        data: data, // Usa el conjunto de datos pasado a la función
        options: {
          
          indexAxis: 'y',
          scales: {
            x: {
              beginAtZero: true,
              max: 100
            },
            y: {
              barThickness: 20 // Establece el grosor de las barras aquí
            }
          },
          plugins: {
            legend: {
              display: true,
              position: 'top',
              labels: {
                usePointStyle: true
              }
            }
          },
          responsive: true
        }
      });
    }



    function graficoDatos(data1, data2, data3, data4){
      document.querySelector('.graficoLinea').style.display = 'none';
      document.querySelector('.contenedorPie').style.display = 'flex';


      const ctx1 = document.getElementById('myChart1');
      const ctx2 = document.getElementById('myChart2');
      const ctx3 = document.getElementById('myChart3');
      const ctx4 = document.getElementById('myChart4');
  
  
      myChart1 = new Chart(ctx1, {
        type: 'pie',
        data: data1, // Asegúrate de usar data3 aquí, no data
        options: {
          responsive: true,
          plugins: {
            legend: {
              position: 'bottom',
            },
            title: {
              display: true,
              text: 'Genero',
            },
            // Configuración del plugin datalabels
  
          }
        },
      });
      myChart2 = new Chart(ctx2, {
        type: 'pie',
        data: data2, // Asegúrate de usar data3 aquí, no data
        options: {
          responsive: true,
          plugins: {
            legend: {
              position: 'bottom',
            },
            title: {
              display: true,
              text: 'Edad',
            },
            // Configuración del plugin datalabels
  
          }
        },
      });
      myChart3 = new Chart(ctx3, {
        type: 'pie',
        data: data3, // Asegúrate de usar data3 aquí, no data
        options: {
          responsive: true,
          plugins: {
            legend: {
              position: 'bottom',
            },
            title: {
              display: true,
              text: 'Nivel de Estudio',
            },
            // Configuración del plugin datalabels
  
          }
        },
      });
      myChart4 = new Chart(ctx4, {
        type: 'pie',
        data: data4, // Asegúrate de usar data3 aquí, no data
        options: {
          responsive: true,
          plugins: {
            legend: {
              position: 'bottom',
            },
            title: {
              display: true,
              text: 'Antigüedad en la organización (en años)',
            },
            // Configuración del plugin datalabels
  
          }
        },
      });
  
    }






    let data2 = {
      labels: ['menor a 25', 'entre 25 y 35', 'entre 35 y 45', 'mayor a 45'],
      datasets: [{
        label: 'Edad',
        data: {{ arreglo_edades| safe }}, // Utiliza la notación de Django aquí
        }]
      };
  
  
    let data1 = {
      labels: ['Masculino', 'Femenino', 'otro     '],
      datasets: [{
        label: 'Género',
        data: {{ arreglo_genero| safe }}, // Utiliza la notación de Django aquí
    backgroundColor: ['blue', 'red', 'green'],
        }]
      };
  
  
    let data3 = {
      labels: ['Secundario', 'Universitario', 'Tecnico'],
      datasets: [{
        label: 'Nivel de Estudio',
        data: {{ arreglo_estudios| safe }}, // Utiliza la notación de Django aquí
    backgroundColor: ['red', 'green', 'blue'],
      }]
    };
  
  
    let data4 = {
      labels: ['Menos de 1', 'Entre 2 y 5', 'Entre 5 y 10', 'más de 10'],
      datasets: [{
        label: 'Antigüedad en la organización',
        data: {{ arreglo_anhos| safe }}, // Utiliza la notación de Django aquí
    backgroundColor: ['red', 'orange', 'blue', 'purple'],
      }]
    };


    
    // Define los datos iniciales del gráfico por "factor" y por "dimensión" aquí...
    let dataPorFactor = {
      labels: [
      'Conducta',
      'Conocimiento',
      'Actitud',
      'KABASIS Index'],
      datasets: [{
        label: 'Resultado Survey Inicial (%)',
        data: [
          {{ promedio_conducta }},
          {{ promedio_conocimientos }},
          {{ promedio_actitud }},
          // Calcula el promedio inicial para "KABASIS Index"
          ({{ promedio_conducta }} + {{ promedio_conocimientos }} + {{ promedio_actitud }}) / 3
        ],
        borderColor: 'blue',
        // Usa un array para definir colores específicos para cada barra, azul para el promedio
        backgroundColor: ['rgba(133, 20, 0, 0.7)', 'rgba(133, 20, 0, 0.7)', 'rgba(133, 20, 0, 0.7)', 'blue'],
      }]
    };
    
    // Reorganiza los datos para "dataPorDimension" según los grupos especificados
    let dataPorDimension = {
      labels: [
        'Prácticas de Seguridad en el Entorno de Trabajo', 'Prácticas de Respaldo y Actualización de Datos', 'Prácticas de Gestión de Contraseñas', 'Conocimientos de Riesgos al navegar en internet', 'Prácticas de Seguridad en Correo Electrónico', // Grupo A
        'Conocimiento de sitios seguros en internet', 'Conocimiento de modo de actuar de hackers', 'Conocimiento de actuar de malwares', // Grupo B
        'Proactividad en la Denuncia de Amenazas Informáticas', 'Capacitación y Concientización en Seguridad de la Información', 'Percepción del Nivel de Protección frente a riesgos cibernéticos', 'Cumplimiento de Políticas de Seguridad de la Información', 'Compromiso Organizacional con Seguridad de la Información', 'Monitoreo y Cumplimiento de Prácticas de Seguridad de la Información' // Grupo C
      ],
      datasets: [
        {
          label: 'Conducta',
          data: [{{ promedio_seg_exterior }}, {{ promedio_seg_computador }}, {{ promedio_contrasena }}, {{ promedio_navegar }}, {{ promedio_correos }}],
          borderColor: 'blue',
          backgroundColor: 'rgba(0, 123, 255, 0.7)',
        },
        {
          label: 'Conocimiento',
          data: [NaN, NaN, NaN, NaN, NaN, {{ promedio_sitios_seg }}, {{ promedio_hackers }}, {{ promedio_virus }}],
          borderColor: 'blue',
          backgroundColor: 'rgba(255, 193, 7, 0.7)',
        },
        {
          label: 'Actitud',
          data: [NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, {{ promedio_denuncia }}, {{ promedio_entrenamiento }}, {{ promedio_riesgos }}, {{ promedio_politicas }}, {{ promedio_compromiso }}, {{ promedio_disuasion }}],
          borderColor: 'blue',
          backgroundColor: 'rgba(40, 167, 69, 0.7)',
        }
      ]
    };
    


    let labels = resultados.map(item => item[0]);
    let data = resultados.map(item => item[1]);

    let dataPorItems = {
      labels: labels,
      datasets: [{
        label: 'Resultado Survey por Items (%)',
        data: data,
        borderColor: 'blue',
        backgroundColor: [
          // Asegúrate de tener suficientes colores para todos tus items o considera generarlos dinámicamente
          'rgba(0, 123, 255, 0.7)', 
          // ... otros colores según necesites
        ],
      }]
    };




    
    // Función para remover la clase 'active' de todos los botones
  function removeActiveClass() {
    document.querySelectorAll('.nav-link').forEach(function(button) {
      button.classList.remove('active');
    });
  }

  // Event listener para el botón 'Ver gráfico por factor'
  document.getElementById('btnFactor').addEventListener('click', function() {
    removeActiveClass(); // Remueve 'active' de todos los botones
    this.classList.add('active'); // Añade 'active' solo a este botón
    actualizarGrafico(dataPorFactor);
  });

  // Event listener para el botón 'Ver gráfico por dimensiones'
  document.getElementById('btnDimensiones').addEventListener('click', function() {
    removeActiveClass(); // Remueve 'active' de todos los botones
    this.classList.add('active'); // Añade 'active' solo a este botón
    actualizarGrafico(dataPorDimension);
  });

  // Event listener para el botón 'Datos Alumnos'
  document.getElementById('btnEstado').addEventListener('click', function() {
    removeActiveClass(); // Remueve 'active' de todos los botones
    this.classList.add('active'); // Añade 'active' solo a este botón
    graficoDatos(data1, data2, data3, data4);
  });

    

    // Inicializa el gráfico con el conjunto de datos por "factor" por defecto al cargar la página
    actualizarGrafico(dataPorFactor);
  </script>






{% endblock %}
