{% extends "KabasisWebApp/base.html"%}

{% load static %}
   
{% block content%}


<section class="page-section cta" style="margin-top: 30px; margin-bottom: 30px;">

   <div style="width: 75%; margin: auto; text-align: center; color: white;">

      <div class="text-center">
         <a class="btn btn-info fas fa-arrow-left d-flex float-left" href="{% url 'post' %}">&nbsp;Atrás</a>
      </div>
      <br><br>
      <div style="margin-bottom: 50px;">
         <h1>{{categorias.titulo}}</h1>
      </div>

      <!--
      Post:

      {% for post in posts %}

         {% for categoria in post.categorias.all %}

            &nbsp; &nbsp; {{post.titulo}} &nbsp; &nbsp; &nbsp

         {% endfor %}

      {% endfor %}
      -->

   </div>

    {% for post in posts %}   

      <section class="page-section clearfix" style="margin-bottom: 60px;">
         <div class="container">
            <div class="intro1">
            <img class="intro-img1 img-fluid mb-3 mb-lg-0 rounded" src="{{post.imagen.url}}" alt="" style="width: 50%;">
            <div class="intro-text1 left-0 text-center bg-faded p-5 rounded">
               <h2 class="section-heading mb-4">
                  <span class="section-heading-lower">{{post.titulo}}</span>
                  <span class="section-heading-upper">{{post.contenido}}</span>
               </h2>  
            </div>
            </div>
         </div>
      </section>
    {% endfor%}
</section>
    

{% endblock %}

